<!-- El component.HTML se encarga del render -->
<h1>Fundamentos de angular</h1>
<hr />

<h1>Propiedades Binding</h1>

<!-- disabled es una propiedad nativa de html -->
<!-- Property binding [disabled]-->
<button [disabled]="btndisabled">Enviar</button>
<!-- Property binding del objeto person [value], [src].   -->
<input type="text" [value]="person.name" />
<progress max="100" [value]="person.age"></progress>
<img width="100" [src]="person.avatar" />

<hr />
<h1>String Interpolation</h1>
<h2>{{ "Hola Mundo".repeat(5) }}</h2>
<p>3 + 3 = {{ 3 + 3 }}</p>
<!-- string interpolation -->
<h3>Hola, soy {{ name }} y tengo {{ age }}</h3>
<!-- string interpolation de img -->
<img src="{{ img }}" alt="image" />
