<h1>Formulario</h1>

<form (ngSubmit)="onRegister()" #myForm="ngForm">
  <h1> Registro </h1>
  <div class="input-group">
    <label for="name"> Nombre </label>
    <input type="text" name="name" required id="name" [(ngModel)]="register.name" />
    <p>Mensaje de error</p>
  </div>
  <div class="input-group">
    <label for="email">Email</label>
    <input type="text" name="email" required id="email" [(ngModel)]="register.email" />
    <p>Mensaje de error</p>
  </div>
  <div class="input-group">
    <label for="password">Password</label>
    <input type="text" name="password" required id="password" [(ngModel)]="register.password">
    <p>Mensaje de error</p>
  </div>
  <button type="submit" [disabled]="myForm.invalid" >Registrar</button>
  <button type="button">Acción</button>
</form>
