<h1>Formulario</h1>

<form>
  <h1> Iniciar Sesion</h1>
  <div class="input-group">
    <label for="name"> Nombre </label>
    <input type="text" name="name" required id="name" [(ngModel)]="register.name" />
    <p>Mensaje de error</p>
  </div>
  <div class="input-group">
    <label for="email">Email</label>
    <input type="text" name="email" required id="email" [(ngModel)]="register.email" />
    <p>Mensaje de error</p>
  </div>
  <div class="input-group">
    <label for="password">Password</label>
    <input type="text" name="password" required id="password" [(ngModel)]="register.password">
    <p>Mensaje de error</p>
  </div>
</form>
